@charset "UTF-8";

body {
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
    font-family: Arial, Helvetice, Sens-Serif;
}

/* HEADER */

header {
    width: 100%;
    height: 60px;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 30px; 
}

.nav-link {
    color: white;
    text-decoration: none;
}

/* START */

#start {
    width: 100%;
    height: 100vh;
    background: url("images/fundo.jpeg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3.5rem;
}

/* STORY */

#story {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    margin-top: 4rem;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-right: 3rem;
}

.text-content-story {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.global-headline {
    text-align: center;
    margin-bottom: 1rem;
}

.headline1 {
    font-size: 30px;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: #e0a547;
    letter-spacing: .1rem;
    margin-bottom: -1.5rem;
}

.headline2 {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.text-content-story p {
    margin-top: -1rem; 
    margin-bottom: 0.5rem; 
}

.text-content-story a {
    margin-bottom: 3rem; 
    color: #e0a547;
}

.story-img {
    max-width: 50%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
    #story {
        flex-direction: column; 
        align-items: center; 
    }

    .text-content-story,
    .story-img {
        max-width: 100%;
    }
}


